body {
	line-height: 1;
	font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

#content {
	padding-top: 50px;
	margin-left: -330px;
	left: 50%;
	width: 710px;
	position: relative;
}

#background-image {
	left: -50%;
	top: -50%;
	position: fixed;
	overflow: hidden;
	z-index: -999999;
	width: 200%;
	height: 200%;
}

#background-image img {
	position: absolute;
	margin: auto;
	border: none;
	z-index: -999999;
	min-width: 50%;
	min-height: 50%;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
}