body {
	line-height: 1;
	font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

#content {
	padding-top: 50px;
	margin-left: -330px;
	left: 50%;
	width: 710px;
	position: relative;
}

#background-image {
	left: 0px;
	top: 0px;
	position: fixed;
	overflow: hidden;
	z-index: -999999;
	margin: 0px;
	padding: 0px;
	height: 931px;
	width: 1440px;
}

#background-image img {
	position: absolute;
	margin: 0px;
	padding: 0px;
	border: none;
	z-index: -999999;
	width: 1440px;
	height: 931px;
	left: 0px
	top: 0px;
}