<div id="background"></div>

<div id="nav"></div>

<div id="content">
	<div class="section first">
		<h1>
		<span>Year</span>
		<span class="year">2012</span>
		</h1>
		<p>
			Donec viverra justo sed orci. Mauris mattis tristique arcu. Nullam pretium ligula ac felis. Duis placerat metus a sapien. Nullam dolor mi, gravida vel, dignissim non, aliquam et, lorem. Etiam placerat gravida ligula. Fusce sit amet diam a pede elementum sagittis. Aliquam adipiscing suscipit ante. Aliquam ornare tortor in ligula. Donec dapibus nisl a quam. Aenean nec sem. Nullam sit amet pede. Integer sed ligula quis neque bibendum placerat. Fusce lobortis odio a erat tincidunt pulvinar. 
		</p>
	</div>
	<div class="section second">
		<h1>
		<span>Year</span>
		<span class="year">2013</span>
		</h1>
		<p>
			Donec viverra justo sed orci. Mauris mattis tristique arcu. Nullam pretium ligula ac felis. Duis placerat metus a sapien. Nullam dolor mi, gravida vel, dignissim non, aliquam et, lorem. Etiam placerat gravida ligula. Fusce sit amet diam a pede elementum sagittis. Aliquam adipiscing suscipit ante. Aliquam ornare tortor in ligula. Donec dapibus nisl a quam. Aenean nec sem. Nullam sit amet pede. Integer sed ligula quis neque bibendum placerat. Fusce lobortis odio a erat tincidunt pulvinar. 
		</p>
	</div>
</div>

<div id="background-image">
	<img src="assets/image01.jpg" />
</div>