<div id="section">
	<img src="image01.jpg"/>
	<img scr="image02.jpg"/>
</div>

<div id="first" class="content">Content 1</div>

<div id="second" class="content">Content 2</div>

<script language="javascript" type="text/javascript">

	var thisPos=1;
	var lastPos=1;

	$(document).ready(function() {
		$('#section').addClass('fixed');
		$(window).scroll(function() {
			var yPos=$(window).scrollTop();
			if (yPos > 900) {
				thisPos=2;
				if(thisPos !=lastPos) {
					$('.one').fadeOut(500);
					$('.two').fadeIn(500);
				}
			}
		});
	});

</script>